{
  "extends": [
    "plugin:flowtype/recommended"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "flowtype",
    "import",
    "react"
  ]
}
